<!-- simple card component -->
    <div class = 'art-card card'>
        <!-- card image -->
        <div class = 'img'>
        <img src = '{{card-image}}' alt = '{{card-alt}}'>
        </div>
        <!-- card contents -->
        <div class = 'content'>
            <!-- card title -->
            <h4>{{card-title}}</h4>
            <!-- card description -->
            <p>
                {{card-description}}
            </p>
            <!-- card button -->
            <div class = 'card-btn'>{{button-text}}</div>
            <!-- card stars -->
            <div class = 'stars'>
                {{card-stars}}
            </div>
        </div>
    </div>
<!-- ******************************************* -->