<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel = 'stylesheet' href = 'styles/general.css'>
    <link rel = 'stylesheet' href = 'styles/home.css'>

    <script src = 'helpers/scripts/base_functions.js' defer></script>
    <script src = 'helpers/scripts/script.js' defer></script>
</head>
<body>
    <div class = 'wrapper'>
        <div class="float">
            <div class="item1"></div>
        </div>
        <div class="registration centered">
            <div class="login centered">
                <div class="base">
                    <div class="content">
                        <div class="title">
                            <h3>Lorem, ipsum dolor.</h3>
                        </div>

                        <div class="text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum esse tenetur doloribus molestias. Laborum, dolorum quasi modi fuga corporis quae!</p>
                        </div>

                        <div class="link">
                            <p>Learn More</p>
                        </div>

                    </div>
                   

                    <div class="form">
                        <div class="options">
                            <div class="opt active" onclick="toggle_items('.forms')">
                                <h5>Log In</h5>
                            </div>
                            <div class="opt" onclick="toggle_items('.forms')">
                                <h5>Sign Up</h5>
                            </div>
                        </div>

                        <div class="forms">

                        <form class="login_form active">
                            <div class="form_element first">
                                <div class="label">
                                    <h5>Username or Email Address</h5>
                                </div>
                                <input type="text" placeholder="example@gmail.com">
                            </div>

                            <div class="form_element">
                                <div class="label">
                                    <h5>Password</h5>
                                </div>
                                <input type="text" placeholder="*************">
                            </div>

                            <div class="submit centered">
                                <input type="submit" value="Login">
                            </div>


                        </form>

                        <form class="signup_form">
                           
                            <div class="form_element first">
                                <div class="label">
                                    <h5>Full Name</h5>
                                </div>
                                <input type="text" placeholder="eg: Melvin Grace">
                            </div>

                            <div class="form_element first">
                                <div class="label">
                                    <h5>Username Or Email</h5>
                                </div>
                                <input type="text" placeholder="example@gmail.com">
                            </div>

                            <div class="form_element first">
                                <div class="label">
                                    <h5>Speciality</h5>
                                </div>
                                <input type="text" placeholder="poetry">
                            </div>

                            <div class="form_element">
                                <div class="label">
                                    <h5>Password</h5>
                                </div>
                                <input type="text" placeholder="*************">
                            </div>

                            <div class="submit centered">
                                <input type="submit" value="Sign Up">
                            </div>


                        </form>

                        </div>

                    </div>


                </div>
            </div>
        </div>
    <header class = 'bg p-rel'>
        <nav class = 'full-w flex-row flex-between p-rel z-2'>
            <!-- logo -->
            <div class = 'logo'></div>

            <!-- navigation -->
            <div class = 'nav-links flex-row'>
                <div class = 'nav-link' onclick="toggle_items('.registration'); toggle_items('.base'); toggle_items('.float'); toggle_items('.item1');">LOG  IN</div>
                <div class = 'nav-link'>SING UP</div>
            </div>
        </nav>

        <div class = 'header-content flex-col flex-center text-center p-rel z-2 full-w'>
            <!-- <small>Expressing yourself in</small> -->
            <h1>EXPRESSING ART IN ITS PUREST FORM</h1>
            <p>
                Art is an expression of self, a window into 
                the complex mind expressed simply, we would like 
                you to share your art with the rest
                of the world.
            </p>
            <div class = 'btn'>
                Join Us
            </div>
        </div>

        <div class = 'bg p-abs top-left full-hw z-1'>
            <div class = 'img full-hw p-abs z-1'>
                <img src = 'images/background.jpg' alt = 'website background image' class = 'obj-fit'>
            </div>

            <div class = 'overlay p-abs top-left full-hw z-2'></div>
        </div>
    </header>

    <section class = 'p-rel'>
        <div class = 'art-tabs flex-row'>
            <div class = 'tab'>STORIES</div>
            <div class = 'tab'>DRAMA</div>
            <div class = 'tab'>POEMS</div>
            <div class = 'tab'>COMICS</div>
        </div>

        <div class = 'art-works'>
            <div class = 'art-card card'>
                <!-- card image -->
                <div class = 'img'>
                    <img src = '{{card-image}}' alt = '{{image-alt}}' class = 'obj-fit'>
                </div>
                <!-- card contents -->
                <div class = 'content'>
                    <!-- card title -->
                    <h4>{{card-title}}</h4>
                    <!-- card description -->
                    <p>
                        {{card-description}}
                    </p>
                    <!-- card button -->
                    <div class = 'card-btn'>{{button-text}}</div>
                    <!-- card stars -->
                    <div class = 'stars flex-row'>
                        {{card-stars}}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        Copyright at xeftechnologies
    </footer>

    </div>

    <script>
        function toggle_items(item_name){
            element = document.querySelector(item_name);
            element.classList.toggle("active");
        }
    </script>
    
</body>
</html>